@import "@fontsource/nunito";
@import "@fontsource/nunito/500.css";
@import "@fontsource/nunito/600.css";
@import "@fontsource/nunito/700.css";
@import "@fontsource/nunito/900.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Định nghĩa các class tái sử dụng */
@layer base {
  html {
    @apply font-sans text-base font-bold text-main;
  }
}
.container {
  @apply mx-auto bg-background shadow-md shadow-primary rounded-sm border-2 border-secondary;
}

.input-field {
  @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-secondary focus:outline-none;
}

.button-primary {
  @apply w-full bg-secondary text-white font-semibold py-2 rounded-lg hover:bg-primary transition duration-300;
}

.bg-gradient-purple {
  @apply bg-gradient-to-br from-slate-50 to-sky-200;
}

.tooltip {
  position: absolute;
  bottom: -30px; /* Điều chỉnh khoảng cách tooltip */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(25, 25, 25, 0.9); /* Màu nền tối */
  color: white;
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s;
  pointer-events: none;
}

.group:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

